.nav{
    margin: 0;
    padding: 0;
    position: fixed;
    width: 7%;
    background-color:cadetblue;
    display: block;
    height: 100%;
}
li img{
    padding: 20px;
    text-align: center;
}
li a{
   display: block;
   padding: 20px;
   text-align: center;
   color: black;
}
li.end{
   position: fixed;
   bottom: 0;
   text-align: center;
   padding: 20px;
}
li a:hover{
    color: black;
}
.side{
    margin-left: 3%;
}
table th{
    padding:20px'
}