* {
  padding: 0;
  margin: 0;
}
body {
  /* height: 2000px; */
  background-color: whitesmoke;
}

.link {
  padding: 10px;
  background-color: rgb(225, 222, 222);
  color: black;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 8%;
  font-size: 15px;
  padding: 10px;
}

.aside {
  background-color: white;
  display: block;
  width: 30%;
  height: 100vh;
  position: sticky;
  top: 0;
}

.nav-title {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 2.8vh;
}
.aside > .nav-link {
  padding: 10px;
}

.aside > .nav-link:hover {
  background-color: rgb(222, 227, 227);
  border-left: 8px solid orange;
}

/** BODY **/

.body {
  display: flex;
  flex-direction: row;
}

.user_info,
.order.section,
.cart-title {
  margin-left: 50px;
  padding: 30px;
  background-color: white;
  height: 150px;
  width: 70%;
  margin-top: 20px;
}

.user {
  display: flex;
  flex-direction: row;
}

h1.img {
  display: grid;
  place-items: center;
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: aqua;
  font-size: 40px;
}

.user_name {
  margin-top: 22px;
  margin-left: 30px;
  font-size: 20px;
}

.usercategory {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user.item {
  margin-top: 30px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.item.name {
  margin-top: 15px;
  margin-left: -10px;
}

.section.body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.order.title {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  border-bottom: 2px solid rgb(224, 221, 221);
}

.title {
  font-size: 20px;
}

.order-link {
  font-size: 2vh;
  color: black;
}


/** CART */

.cart.box {
  padding: 10px;
}

.cart.box.title {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 30px;
}

.cart.container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .cart.container {
    display: flex;
    flex-direction: column;
  }
}

.cart.table {
  width: 60%;
}
table {
  border-collapse:collapse;
  width: 100%;
}

thead {
  border-bottom: 1px solid gray;
}

th {
  padding: 10px;
  text-align: start;
  color: gray;
}

.th-first {
  width:50%;
}

.th-second {
  width:10%;
}

.th-third {
  width:20%;
}

.th-fourth {
  width:20%;
}

td {
  padding: 10px;
}

tr:hover {background-color: #cec9c9;}

.cart.summary {
  /* position: fixed; */
  /* right: 0%; */
  width: 35%;
  height: 350px;
  background-color: rgb(235, 230, 230);
  margin-left: 10px;
  padding: 15px;
}

.s-title {
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.order-price {
  padding: 10px;
  margin-top: 40px;
}

.type-price {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  color: gray;
}

.type-price.two {
  margin-top: 20px;
}

.amount-total {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-weight: bold;
}

.btn-check {
  width: 90%;
  margin-top: 20px;
  margin-left: 15px;
  border-radius: 5px;
  border: none;
  padding: 6px;
  background-color: rgb(96, 45, 3);
  color: white;
}

.btn-check:hover {
  background-color: white;
  color: black;
}

@media screen and (max-width: 600px) { 
  .cart.summary {
    width: 100%;
  }
}
  