* {
  padding: 0;
  margin: 0;
}
body {
  /* height: 2000px; */
  background-color: whitesmoke;
}

.link {
  padding: 10px;
  background-color: rgb(225, 222, 222);
  color: black;
}

.links {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.aside {
  background-color: white;
  display: block;
  width: 30%;
  height: 100vh;
  position: sticky;
  top: 0;
}

.nav-title {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 2.8vh;
}
.aside > .nav-link {
  padding: 10px;
}

.aside > .nav-link:hover {
  background-color: rgb(222, 227, 227);
  border-left: 8px solid orange;
}

/** BODY **/

.body {
  display: flex;
  flex-direction: row;
}

.user_info,
.order.section {
  margin-left: 50px;
  padding: 30px;
  background-color: white;
  height: 150px;
  width: 70%;
  margin-top: 20px;
}

.user {
  display: flex;
  flex-direction: row;
}

h1.img {
  display: grid;
  place-items: center;
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: aqua;
  font-size: 40px;
}

.user_name {
  margin-top: 22px;
  margin-left: 30px;
  font-size: 20px;
}

.usercategory {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user.item {
  margin-top: 30px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.item.name {
  margin-top: 15px;
  margin-left: -10px;
}

.section.body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.order.title {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  border-bottom: 2px solid rgb(224, 221, 221);
}

.title {
  font-size: 20px;
}

.order-link {
  font-size: 2vh;
  color: black;
}
