* {
  padding: 0;
  margin: 0;
}
body {
  /* height: 2000px; */
  background-color: whitesmoke;
}

nav {
  background-color: rgb(231, 235, 235);
}

.link {
  padding: 10px;
  background-color: rgb(225, 222, 222);
  color: black;
}

.links {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.aside {
  background-color: rgb(225, 225, 225);
  display: block;
  width: 20%;
  height: 100vh;
  position: sticky;
  top: 0;
}

.nav-title {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 2.8vh;
}
.aside > .nav-link {
  padding: 10px;
}

.aside > .nav-link:hover {
  background-color: rgb(222, 227, 227);
  border-left: 8px solid orange;
}

/** BODY **/

.body {
  display: flex;
  flex-direction: row;
}
.section.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* margin-left: ; */
  padding: 20px;
}

.table {
  width: 80%;
}

table,
th,
td {
  border: 1px solid black;
  text-align: start;
  padding: 10px;
}

table {
  border-collapse: collapse;
}
