* {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

aside.aside {
  padding: 10px;
  width: 15%;
  background-color: rgb(105, 105, 107);
  color: aliceblue;
  height: 100%;
  position: fixed;
}

.img {
  margin-bottom: 25px;
}

.side-nav-item {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

.side-nav-item li {
  padding: 15px;
}

.side-nav-item li:hover {
  background-color: rgb(60, 60, 60);
}


/** MAIN **/

main {
  margin-left: 20%;
}