<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/form.css" />
    <title></title>
  </head>
  <body>
    <article class="formTheme">
      <h3 class="title">Add New Item</h3>
      <form action="" method="post" enctype="multipart/form-data" class="form">
        <div class="form-div">
          <div>
            <label for="name">Name</label><br>
            <input type="text" name="name" id="" class="form-input" />
          </div>
          <div>
            <label for="category">Category</label><br>
            <select name="category" id="" class="form-input">
              <option value="..."></option>
              <option value=""></option>
            </select>
          </div>
        </div>
        <div class="form-div">
          <div>
            <label for="price">Price</label>
            <input type="number" name="price" id="" class="form-input" />
          </div>
          <div>
            <label for="discount">Discount</label>
            <input type="number" name="discount" id="" class="form-input" />
          </div>
        </div>
        <label for="description">Description</label>
        <textarea
          name="description"
          id=""
          cols="30"
          rows="10"
          class="form-textarea"
        ></textarea><br>
        <button type="submit" class="btn">upload</button>
      </form>
    </article>
  </body>
</html>


